# Node modules
node_modules/
client/node_modules/

# Environment variables
.env
client/.env

# Build folders
dist/
client/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/